.menu {
  top: 0;
  left: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.menu ul {
  position: relative;
}

.menu ul li {
  display: inline;
  padding: 1em;
  list-style: none;
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.menu ul li:hover {
  color: gold;
}
