a {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
}

h2 {
  font-size: 5em;
  font-weight: 100;
  color: floralwhite;
  line-height: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  color: floralwhite;
  line-height: 1.5em;
}

p {
  font-size: 1.1em;
  color: floralwhite;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text {
  position: relative;
  z-index: 10;
}
