body {
    font: 400 18px helvetica,sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 50px;
    background: #222;
  }
  
  /* Just the UL styling all you need */
  nav {
    display: flex;
    gap: 2rem;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    line-height: 1.5;
    text-indent: -30px;
    padding: 8px 0 8px 30px;
  }
  
  li:before {
    float: left;
    display: block;
    content: '\01F49B';
    margin: 0 30px 0 0;
  }
  
  